.Date {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-left: 20px;

}

.Time {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding-left: 8px;
}

    
.Topic {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-left: 30px;
}

.Box {
    margin-left: 80px;
    margin-top: 10px;
    background-color: #eecb71;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}

.JoinButton {
    margin-left: 0px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    background-color: #7BA6DA;
    border: none;
    /* onClick={() => console.log("You clicked on the pink circle!")} */
}

.Joined {
    background-color: #7BDA7E;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border: none;
}

.NotJoined {
    background-color: #7BA6DA;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border: none;
}

.Component {
    display:flex; 
    flex-direction:row;
    vertical-align: middle;
}