.Text {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-left: 20px;

}

.Link {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding-left: 8px;
}


.Date {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 18px;
}

.Time {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 18px;
}

.Topic {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-left: 30px;
}

.Box {
    margin-left: 80px;
    margin-top: 10px;
    background-color: #eecb71;
    padding-bottom: 20px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 50px;
}

.Joined {
    background-color: #7BDA7E;
    margin-left: 10px;
    margin-top: 10px;
    height: 70px;
    width: 70px;
    border: none;
}

.NotJoined {
    background-color: #7BA6DA;
    margin-left: 10px;
    margin-top: 10px;
    height: 70px;
    width: 70px;
    border: none;
}

.Component {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}