.Date {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-left: 20px;

}

.Time {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding-left: 8px;
}

    
.Topic {
    color: #27374F;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding-left: 30px;
}

.Box {
    margin-left: 80px;
    margin-top: 10px;
    background-color: #eecb71;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}