.Title {
    color: #FFFFFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 60;
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    padding-left: 80px;
    padding-top: 50px;
}
.rowC {
    display:flex; 
    flex-direction:row;
}